.dropdown{
  padding: 10px;
  width: 300px;
}
.app{
  text-align: center;
}
.dropdowns{
  display: flex;
  justify-content: center;
  gap: 15px;
}
.cityName{
  font-size: 22px;
  font-weight: bold;
}
.stateName{
  color: #888;
  font-weight: bold;
}